<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Updated</title>
    <style>
        body {
            font-family: 'Work Sans', Calibri, sans-serif;
            background-color: #f7f7f7;
            padding: 20px;
            text-align: center;
        }

        .container {
            background-color: #ffffff;
            padding: 20px;
            border-radius: 8px;
            max-width: 400px;
            margin: 0 auto;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        }

        h2 {
            color: #28a745;
            margin-bottom: 20px;
        }

        p {
            font-size: 16px;
            color: #333333;
            margin-bottom: 20px;
        }

        a {
            text-decoration: none;
            background-color: #5caad2;
            color: white;
            padding: 10px 20px;
            border-radius: 4px;
            font-size: 16px;
            display: inline-block;
        }

        a:hover {
            background-color: #ec0867;
        }
    </style>
</head>

<body>

    <div class="container">
        <h2>Password Updated Successfully</h2>
        <p>Your password has been updated successfully. You can now log in using your new password.</p>
        <!-- <a href="/login">Go to Login</a> -->
    </div>

</body>

</html>
